<div class="full-screen-center">
  <%= form_for(@task, html: { class: "generic-form" }) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :assigned_user %>
      <%= f.select :assigned_user_id,
        User.all.collect { |u| ["#{u.first_name} #{u.last_name}", u.id] },
        { include_blank: true },
        class: "form-control"
      %>
    </div>
    <%= f.hidden_field :project_id, value: @task.project_id %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
    <%= f.submit submit_text, class: "btn btn-primary" %>
  <% end %>
</div>
