<table class="table task-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each_with_index do |task, idx| %>
      <tr class="user-list-row">
        <%= link_to task_path(task) do %>
          <td scope="row"><%= "##{task.id}" %></td>
          <td><%= "#{task.name}" %></td>
          <td class="actions">
            <%= link_to task_path(task) do %>
              <i class="bi bi-eye-fill"></i>
            <% end %>
            <%= link_to edit_task_path(task) do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
            <%= button_to task_path(task), method: :delete do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
