<h1>Welcome to Ananke</h1>
<h2>Your next project manager</h2>

<p>Logged in as <%= current_user.email %></p>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<%= link_to "Projects", projects_path %>
<%= link_to "My tasks", my_tasks_path %>
<%= link_to "Users", users_path %>
<%= link_to "My profile", edit_user_registration_path %>
