<div class="full-screen-center">
  <%= form_for(@project, html: { class: "generic-form" }) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :project_owner %>
      <%= f.select :project_owner_id,
        User.all.collect { |u| ["#{u.first_name} #{u.last_name}", u.id] },
        { include_blank: true },
        class: "form-control"
      %>
    </div>
    <%= f.submit submit_text, class: "btn btn-primary" %>
  <% end %>
</div>
