<div id="<%= dom_id project %>">
  <h2><%= project.name %></h2>
  <h4>PO: <%= project.project_owner.email %></h4>
  <%= link_to "Repository", project.repo_link %>
  <%= link_to "Web", project.web_link %>
</div>
