<h1>Projects</h1>

<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>

<table class="table project-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each_with_index do |project, idx| %>
      <tr class="user-list-row">
        <%= link_to project_path(project) do %>
          <td scope="row"><%= "##{idx+1}" %></td>
          <td><%= "#{project.name}" %></td>
          <td class="actions">
            <%= link_to project_path(project) do %>
              <i class="bi bi-eye-fill"></i>
            <% end %>
            <%= link_to edit_project_path(project) do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
            <%= button_to project_path(project), method: :delete do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
