<%= render @project %>

<%= link_to 'New Task', new_task_url(project: @project), class: "btn btn-primary" %>

<%= render 'tasks/table', tasks: @tasks %>

<div class="actions">
  <%= link_to projects_path do %>
    <i class="bi bi-arrow-bar-left"></i>
  <% end %>
  <%= link_to edit_project_path(@project) do %>
    <i class="bi bi-pencil-square"></i>
  <% end %>
  <%= button_to project_path(@project), method: :delete do %>
    <i class="bi bi-trash-fill"></i>
  <% end %>
</div>
